a{	
	color: #dcdde1;
	font-family: 'Advent Pro', sans-serif;
	text-decoration: none;
}

a:hover{
	color: #e1b12c;
}

body{
	background-color: #060218;
	color: #dcdde1;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

footer{
	margin-top: 7rem;
}

footer a{
	font-size: 1.1rem;
	letter-spacing: 0.15rem;
	margin: 0 1%;
}

footer p{
	color: #e1b12c;
	font-size: 0.7rem;
	margin-top: 2rem;
}

h1{
	color: #fbc531;
	font-family: 'Poiret One', cursive;   
	font-size: 5rem;
	font-weight: 100;
	letter-spacing: 0.3rem;
	padding-top: 3rem;
	/*text-shadow: 0 1px 2px #fbc531;*/
}

h2{
	color: #e1b12c;
	font-family: 'Advent Pro', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
}

h3{
	color: #fbc531;
	font-family: 'Advent Pro', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.2rem;
}

h4{	
	color: #e1b12c;
	font-family: 'Poiret One', cursive;
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 2rem;
}

hr{
	background: rgb(11,3,45);
	background: linear-gradient(180deg, rgba(2,6,24,1) 0%, rgba(0,57,115,1) 15%, rgba(124,124,93,1) 40%, rgba(0,57,115,1) 65%, rgba(2,6,24,1) 80%);
	border:none;
	height: 0.5em;
	margin: 6rem auto 4rem;
	width: 90%;
}

img{
	border-radius: 7%;
	width: 200px;
	margin: 3rem auto;
}

p{
	font-family: 'Marcellus', serif;
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	line-height: 1.8rem;
}

span{
	clear: left;
}

ul{
	list-style: none;
}

.contact-btn{
	background-color: #dcdde1;
	border: none;
	border-radius: 0.5rem;
	/*box-shadow: 5px 5px #9fa1ad;*/
	color: #060218;
	font-family: 'Poiret One', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	height: 4rem;
	letter-spacing: 0.07rem;
	margin-top: 5rem;
	outline: none;
	width: 12rem;

}


.contact-btn:hover{
	background-color: #e1b12c;
	padding: 2px 0 0 0;
	/*font-size: 1.15rem;*/

}

.container{
	margin: 0 auto;
	max-width: 550px;
	width: 90%;
	
}

.container a{
	font-family: 'Marcellus', serif;
}

.cv h2{
	font-size: 2.5rem;
}

.cv li{
	line-height: 1.5rem;
}

.cv p{
	font-size: 1rem;
	letter-spacing: 0;
}

.cv td{
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.cv-body{
	font-family:  'Marcellus', serif;
	font-size: 1rem;
	text-align: left;
}

.cv-head h4{
	margin: 0 auto; 
}

.first{
	margin-top: 5rem;
}

.h1-bold{
	font-weight: 600;
}

.tech-ab ul{
	padding-left: 0px;
}

.third a{
	color: #fbc531;
}

.third a:hover{
	color: #e1b12c;
}

.third p,
.fourth p{
	margin-top: 5rem;
}

/* ----- HEADER ------ */

.header{

background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);   /*Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #00416A, #060218); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




	font-size: 1.4rem;
	height: 3rem;
	padding-top: 1rem;
	
	width: 100%;
}

.header a{
	border-right: 2px solid #dcdde1;
	padding-right: 5px;
	margin-right: 0;
}

.hide{
	background-color: #060218;
	display: none;
	z-index: 0;
}

.lang{
	float: left;
	margin-left: 7.5%;
	text-align: right;
}

/*
.lang-on{
	color: #e1b12c;
}
*/

.nav{
	float: right;
	margin-right: 7.5%;
	text-align: right;
}

.nav td{
	margin-right: 5%;
}

/* --- FOR TABLETS ---*/


@media screen and (min-width: 600px){

	footer a{
		font-size: 1.3rem;
		margin: 0 3%;
	}

	h1{
		font-size: 6rem; 
		letter-spacing: 0.5rem;
		line-height: 7rem;
		margin-bottom: 6rem;
	}

	h2{
		font-size: 3.5rem;
		line-height: 5rem;
	}


	p{
		font-size: 1.3rem;
	}

	.container{
		margin: 0 auto; 
		width: 75%;
	}

	.header{
		height: 3rem;
		padding-top: 1rem;
		padding-bottom: 1rem; 	
}

	.lang{
		margin-left: 12.5%;
	}

	.nav{
		margin-right: 12.5%;
}
}

/* --- FOR BIGGER TABLETS ---*/


@media screen and (min-width: 768px){

	img{
		width: 250px;
	}



}
