a{	
	color: #dcdde1;
	font-family: 'Advent Pro', sans-serif;
	text-decoration: none;
}

a:hover{
	color: #e1b12c;
}

body{
	background-color: #060218;
	color: #dcdde1;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

footer{
	margin-top: 7rem;
}

footer a{
	font-size: 1.1rem;
	letter-spacing: 0.15rem;
	margin: 0 1%;
}

footer p{
	color: #e1b12c;
	font-size: 0.7rem;
	margin-top: 2rem;
}

h1{
	color: #fbc531;
	font-family: 'Poiret One', cursive;   
	font-size: 5rem;
	font-weight: 100;
	letter-spacing: 0.3rem;
	/*text-shadow: 0 1px 2px #fbc531;*/
}

h2{
	color: #e1b12c;
	font-family: 'Advent Pro', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
}

h3{
	color: #fbc531;
	font-family: 'Advent Pro', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.2rem;
}

hr{
	background: rgb(11,3,45);
	background: linear-gradient(180deg, rgba(2,6,24,1) 0%, rgba(0,57,115,1) 15%, rgba(124,124,93,1) 40%, rgba(0,57,115,1) 65%, rgba(2,6,24,1) 80%);
	border:none;
	height: 0.5em;
	margin: 6rem auto 4rem;
	width: 98%;
}

p{
	font-family: 'Marcellus', serif;
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	line-height: 1.8rem;
}

.btn-top a{
	border-right: 2px solid #dcdde1;
	padding-right: 5px;

}

.contact-btn{
	background-color: #dcdde1;
	border: none;
	border-radius: 0.5rem;
	color: #060218;
	font-family: 'Poiret One', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	height: 4rem;
	letter-spacing: 0.07rem;
	margin-top: 5rem;
	outline: none;
	width: 12rem;

}

.contact-btn:hover{
	background-color: #e1b12c;
}

.container{
	width: 90%;
	margin: 0 5%;
}

.container a{
	font-family: 'Marcellus', serif;
}

.first{
	margin-top: 5rem;
}

.h1-large{
	font-size: 6rem;
	font-weight: 600;
}

.lang-on{
	color: #e1b12c;
}

.me-img{
	border-radius: 7%;
	width: 50%;
	margin: 3rem auto;
}

.third a{
	color: #fbc531;
}

.third a:hover{
	color: #e1b12c;
}

.third p,
.fourth p{
	margin-top: 5rem;
}




/* ----- HEADER ------ */


.header{
	background-color: blue;
	font-size: 1.2rem;
	padding-bottom: 2rem; 
	margin-left: 5%;
	position: fixed;
	top: 1rem;
	width: 90%;
}

.lang{
	float: left;
}

.nav{
	float: right;
}









