body{
	
	background-color: #060218;
	color: #dcdde1;
	margin: 0;
	width: 100%;
}

button a{
	color: #323643;
}

footer a {
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	margin: 0 7%;
}

footer p{
	color: #e1b12c;
	font-size: 1rem;
	font-family: 'Poiret One', cursive; 
	margin: 1.2rem auto 0;
}

form {
	margin-bottom: 4rem;
}

h1{
	color: #fbc531;
	font-family: 'Poiret One', cursive;     
	font-size: 7rem;
	font-weight: 100;
	letter-spacing: 0.3rem;
	margin-bottom: 100px;
	text-align: center;
	text-shadow: 0 1px 2px #fbc531;

}

h2{	
	color: #e1b12c;
	font-family: 'Advent Pro', sans-serif;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 0.4rem;
	margin-bottom: 150px;
	margin-top: 80px;
}

h3{	
	color: #fbc531;
	font-family: 'Advent Pro', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.2rem;
	margin-bottom: 80px;
	text-align: center;
}

hr{
	background: rgb(11,3,45);
	background: linear-gradient(180deg, rgba(2,6,24,1) 0%, rgba(0,57,115,1) 15%, rgba(124,124,93,1) 40%, rgba(0,57,115,1) 65%, rgba(2,6,24,1) 80%);
	border:none;
	height: 0.5rem;
	width: 90%;

	
}

p{
	
	font-family: 'Marcellus', serif;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
	line-height: 2rem;
	margin-bottom: 4rem;
}

a{	
	color: #E4E4E4;
	font-family: 'Advent Pro', sans-serif;
	text-decoration: none;
}

a:hover{
	color: #e1b12c;

}

.about-me{
	margin-left: 15rem;
}

.btn-top{
	
	top: -0.1rem;
}

.btn-top a{
	border-right: 2px solid #E4E4E4;
	letter-spacing: 0.15rem;
	padding-right: 5px;
}


.cassiopeia{
	margin: -7rem 10rem 0 35rem;
	width:150px;

}

.contact-btn{
	background-color: #fff9e0;
	border: none;
	border-radius: 7px;
	color: #323643;
	font-family: 'Advent Pro', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	height: 4rem;
	margin-bottom: 2.1rem;
	margin-left: 35%;
	outline: none;
	width: 30%;
}

.contact-btn:hover{
	background-color: #e1b12c;

}

.contact-btn a:hover{
	color: #323643;
}

.container{
	/*background-color: #0b032d;*/
	margin: 0 auto;
	width: 50%;
	z-index:2;
}

.crux{
	width: 100px;
}

.cygnus{
	margin: -10rem 10rem 0 20rem;
	width: 200px;
}

.draco{
	bottom: 18rem;
	width: 350px;
}

.footer{
	background: rgb(150,150,112);
	background: linear-gradient(0deg, rgba(124,124,93,1) 0%, rgba(0,57,115,1) 18%, rgba(2,6,24,1) 80%);
	margin: 200px auto 0;
	padding-top: 40px;
	text-align: center;
	
}

.header {
	background: rgb(150,150,112);
	background: linear-gradient(180deg, rgba(124,124,93,1) 0%, rgba(0,57,115,1) 28%, rgba(2,6,24,1) 80%);
	font-size: 1.1rem;
	height: 70px;
	line-height: 70px;
	margin: 0 0 180px;
}


.input{
	background-color: #fff9e0;
	color: #323643;
	font-family: 'Advent Pro', sans-serif;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	margin-left: 20%; 
	outline: none;
	width: 60%;
}

.input:focus{
	border: 2px solid #e1b12c;
}

.lang{
	margin-left: 5%;
}

.lang-on{
	color: #e1b12c;
}

.me-img{
	border-radius: 15px;
	height: 250px;
	width: 180px;
	float: left;
}

.moon{
	width: 50px;
	margin-left: 1px;
	margin: 0rem 5rem 0rem 10rem;
}

.my-work a{
	font-family: 'Marcellus', serif;
}

.nav{
	position: absolute;
	right: 5%;
}

.submit-btn{
	background-color: #fff9e0;
	border: none;
	border-radius: 3.5px;
	color: #323643;
	font-family: 'Advent Pro', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	height: 1.5rem;
	margin-bottom: 2.1rem;
	margin-left: 40%;
	outline: none;
	width: 20%;
}

.submit-btn:hover{
	background-color: #e1b12c;
}

.top h2{
	text-align: center;
}

.top-images{
	/*border: 1px solid red;*/
	display: inline-block;
	margin: 0 10%;
	position: absolute;
	top: 4rem;
	width: 80%;
	z-index: 1;
}

.top-images img{
	position: relative;
}

.ursa-major{
	width: 300px;
	

}